@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
	height: 100dvh;
	width: 100dvw;
	text-align: center;
	color: #fff;
	background-color: #151515;
	overflow-x: clip;
}

header {
	width: 100%;
	margin: 1rem 0;
	font-size: 1.5rem;
}

main {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

h2 {
	font-weight: 400;
}

#controls {
	width: 20%;
	min-width: 200px;
	max-width: 500px;
	padding: 1rem 0;
	border: 2px solid #fff;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

input,
button {
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

input[type='color'] {
	height: 3rem;
	width: 5rem;
	padding: 0;
}

button {
	padding: 0.5rem 0.75rem;
	color: #fff;
	background-color: #252525;
	border: 1px solid #fff;
	border-radius: 0.5rem;
}

button.active {
	background-color: #00395a;
	border-width: 3px;
}

button:active {
	scale: 0.9;
}

#canvas {
	height: auto;
	width: 60%;
	min-width: 200px;
	max-width: 600px;
}

#grid {
	height: auto;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	aspect-ratio: 1/1;
	border: 2px solid #fff;
	border-radius: 1rem;
	display: flex;
	flex-wrap: wrap;
	overflow: clip;
}

.box {
	border: none;
}

footer {
	width: 100%;
	font-size: 0.9rem;
	position: absolute;
	bottom: 1rem;
}
